body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url('bg4.jpg');
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.top {
  width: 100%;
  height: 20%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:end;
}

.top img {
  width: 200px;
  
}

.main {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.signupBox {
  width: 400px;
  height: auto;
  padding: 20px 30px;
  color: white;
  background-color: rgba(25, 25, 25, 0.75);
  transition: 0.5s;
  display: block;
}

.loginBox {
  width: 400px;
  height: auto;
  padding: 20px 30px;
  color: white;
  background-color: rgba(25, 25, 25, 0.75);
  transition: 0.5s;
  display: block;
}

.form-control.custom-input {
  background-color: rgb(78, 78, 78);
  border: none;
  color: white;
  margin-top: 0.3em;
}

.form-control.custom-input::placeholder {
  color: rgb(153, 149, 149);
}

.form-control.custom-input:focus {
  background-color: rgb(78, 78, 78);
  border: none;
  color: white;
}

input[type="checkbox"]:checked {
  background-color: rgb(104, 31, 171);
  border: none;
}

.button {
  text-align: right;
}

.btn.btn-custom {
  color: white;
  background-color: rgb(104, 31, 171);

}

.btn.btn-custom:hover {
  background-color: blueviolet;

}

.switchText {
  text-align: center;
}

.switch {
  display: inline;
}

.loginSwitch {
  display: inline-block;
  margin-left: 5px;
  color:hsl(158, 82%, 57%, 85%);
  text-decoration: underline;
  transition: 0.3s;
}

.loginSwitch:hover {
  cursor: pointer;
  color: white;
}

.welcome {
  max-width: 100%; /* Set the maximum width of the image to the width of the parent container */
  max-height: 100%; /* Set the maximum height of the image to the height of the parent container */
  display: block;
  
}

.loginBox p {
  text-align: center;
}



